0 REF:T
1 REF:R
2 Day:D
3 Week:D
4 Month:D
5 Quarter:D
6 Year:D
7 Mon:D
8 Tue:D
9 Wed:D
10 Thu:D
11 Fri:D
12 Sat:D
13 Sun:D
14 Jan:D
15 Feb:D
16 Mar:D
17 Apr:D
18 May:D
19 Jun:D
20 Jul:D
21 Aug:D
22 Sep:D
23 Oct:D
24 Nov:D
25 Dec:D
26 Q1:D
27 Q2:D
28 Q3:D
29 Q4:D
30 nil
31 NUM
32 dow(n):D
33 dom(n):D
34 woy(n):D
35 moy(n):D
36 qoy(n):D
37 yoc(n):D
38 year(n):R
39 decade(n):R
40 century(n):R
45 shiftLeft$(-:R,-:D):R$
50 shiftRight$(-:R,-:D):R$
53 catLeft$(-:R,-:D):R$
56 catRight$(-:R,-:D):R$
59 shrinkBegin$(-:R,-:D):R$
62 shrinkEnd$(-:R,-:D):R$
65 intersect$(-:R,-:R):R$
68 cons$(-:R,-:R):R$
